@{
    ViewBag.Title = "About";
}

<center>

    <h2>@ViewBag.Title.</h2>

    <img src="/Images/FourSeasons.png">

    <h3>
        4Seasons will help you sell your product on a new innovative platform.
        <br />Our platform will benefit  you in promoting as well as networking.
        <br />
        <br />4Seasons is open to new and creative brands
        where your costumers can subscribe and experience the benefits of discounts and special offers.
    </h3>

    <p>If you have further questions, feel free to write to us on test@fourseasons.com</p>
</center>