@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    Niels Bohrs Allé 1<br />
    5230 Odense M<br />
    <abbr title="Phone">Tlf.:</abbr>
    00 00 00 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@fourseasons.com">Support@fourseasons.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fourseasons.com">Marketing@fourseasons.com</a>
</address>